USE [master]
GO
/****** Object:  Database [KertKerdesDb]    Script Date: 2026. 04. 11. 22:11:01 ******/
CREATE DATABASE [KertKerdesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KertKerdesDb', FILENAME = N'F:\DB\MSSQL16.MSSQLDEV2022\MSSQL\DATA\KertKerdesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KertKerdesDb_log', FILENAME = N'F:\DB\MSSQL16.MSSQLDEV2022\MSSQL\DATA\KertKerdesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KertKerdesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KertKerdesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cimkek]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cimkek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Felhasznalok]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Felhasznalok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Felhasznalonev] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[JelszoHash] [nvarchar](500) NOT NULL,
	[Szerepkor] [nvarchar](50) NOT NULL,
	[RegisztracioDatuma] [datetime] NOT NULL,
	[ModeratorJovahagyva] [bit] NOT NULL,
	[ModeratorElutasitva] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KerdesCimkek]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KerdesCimkek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KerdesId] [int] NOT NULL,
	[CimkeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kerdesek]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kerdesek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cim] [nvarchar](200) NOT NULL,
	[Leiras] [nvarchar](max) NOT NULL,
	[FelhasznaloId] [int] NOT NULL,
	[TemakorId] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Jovahagyva] [bit] NOT NULL,
	[Szavazat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szavazatok]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szavazatok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FelhasznaloId] [int] NOT NULL,
	[KerdesId] [int] NULL,
	[ValaszId] [int] NULL,
	[Ertek] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temakorok]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temakorok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](150) NOT NULL,
	[Leiras] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valaszok]    Script Date: 2026. 04. 11. 22:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valaszok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KerdesId] [int] NOT NULL,
	[FelhasznaloId] [int] NOT NULL,
	[Szoveg] [nvarchar](max) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Jovahagyva] [bit] NOT NULL,
	[Elfogadott] [bit] NOT NULL,
	[Szavazat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cimkek] ON 

INSERT [dbo].[Cimkek] ([Id], [Nev]) VALUES (6, N'bogarak a föld tetején')
INSERT [dbo].[Cimkek] ([Id], [Nev]) VALUES (10, N'évszak')
INSERT [dbo].[Cimkek] ([Id], [Nev]) VALUES (17, N'globális')
SET IDENTITY_INSERT [dbo].[Cimkek] OFF
GO
SET IDENTITY_INSERT [dbo].[Felhasznalok] ON 

INSERT [dbo].[Felhasznalok] ([Id], [Felhasznalonev], [Email], [JelszoHash], [Szerepkor], [RegisztracioDatuma], [ModeratorJovahagyva], [ModeratorElutasitva]) VALUES (1, N'admin', N'admin@kertkerdes.hu', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Admin', CAST(N'2026-03-25T19:28:40.467' AS DateTime), 1, 0)
INSERT [dbo].[Felhasznalok] ([Id], [Felhasznalonev], [Email], [JelszoHash], [Szerepkor], [RegisztracioDatuma], [ModeratorJovahagyva], [ModeratorElutasitva]) VALUES (2, N'moderator1', N'email@email.hu', N'8F1A8E5B53F6F57D7B7A4C1D6B9E1E5C8B7A1F5D2E3C4A5B6D7E8F9A0B1C2D3', N'Moderator', CAST(N'2026-04-09T09:51:16.337' AS DateTime), 1, 0)
INSERT [dbo].[Felhasznalok] ([Id], [Felhasznalonev], [Email], [JelszoHash], [Szerepkor], [RegisztracioDatuma], [ModeratorJovahagyva], [ModeratorElutasitva]) VALUES (3, N'user1', N'user1@email.hu', N'5B7D0D9A4F8C3A2B1E6D7F5A4B3C2D1E9F8A7B6C5D4E3F2A1B0C9D8E7F6A5B4', N'Altalanos', CAST(N'2026-04-09T10:32:32.347' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Felhasznalok] OFF
GO
SET IDENTITY_INSERT [dbo].[KerdesCimkek] ON 

INSERT [dbo].[KerdesCimkek] ([Id], [KerdesId], [CimkeId]) VALUES (1, 1, 2)
INSERT [dbo].[KerdesCimkek] ([Id], [KerdesId], [CimkeId]) VALUES (2, 2, 5)
INSERT [dbo].[KerdesCimkek] ([Id], [KerdesId], [CimkeId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[KerdesCimkek] OFF
GO
SET IDENTITY_INSERT [dbo].[Kerdesek] ON 

INSERT [dbo].[Kerdesek] ([Id], [Cim], [Leiras], [FelhasznaloId], [TemakorId], [Datum], [Jovahagyva], [Szavazat]) VALUES (1, N'Kérdés1', N'Kérdés1 leírás', 1, 2, CAST(N'2026-03-25T20:39:25.560' AS DateTime), 1, 2)
INSERT [dbo].[Kerdesek] ([Id], [Cim], [Leiras], [FelhasznaloId], [TemakorId], [Datum], [Jovahagyva], [Szavazat]) VALUES (2, N'Kérdés2', N'Kérdés2 leírás', 1, 5, CAST(N'2026-03-25T20:50:13.123' AS DateTime), 1, 1)
INSERT [dbo].[Kerdesek] ([Id], [Cim], [Leiras], [FelhasznaloId], [TemakorId], [Datum], [Jovahagyva], [Szavazat]) VALUES (3, N'Kérdés3', N'Kérdés3 leírása', 1, 4, CAST(N'2026-04-09T08:59:09.843' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Kerdesek] OFF
GO
SET IDENTITY_INSERT [dbo].[Szavazatok] ON 

INSERT [dbo].[Szavazatok] ([Id], [FelhasznaloId], [KerdesId], [ValaszId], [Ertek]) VALUES (1, 1, 5, NULL, 1)
INSERT [dbo].[Szavazatok] ([Id], [FelhasznaloId], [KerdesId], [ValaszId], [Ertek]) VALUES (2, 1, NULL, 5, 1)
INSERT [dbo].[Szavazatok] ([Id], [FelhasznaloId], [KerdesId], [ValaszId], [Ertek]) VALUES (3, 1, 4, NULL, 1)
SET IDENTITY_INSERT [dbo].[Szavazatok] OFF
GO
SET IDENTITY_INSERT [dbo].[Temakorok] ON 

INSERT [dbo].[Temakorok] ([Id], [Nev], [Leiras]) VALUES (1, N'Talaj és tápanyagellátás', N'Talaj típusa, pH, trágyázás')
INSERT [dbo].[Temakorok] ([Id], [Nev], [Leiras]) VALUES (2, N'Öntözés és vízgazdálkodás', N'Öntözési kérdések')
INSERT [dbo].[Temakorok] ([Id], [Nev], [Leiras]) VALUES (3, N'Növényvédelem és betegségek', N'Kártevők és betegségek')
SET IDENTITY_INSERT [dbo].[Temakorok] OFF
GO
SET IDENTITY_INSERT [dbo].[Valaszok] ON 

INSERT [dbo].[Valaszok] ([Id], [KerdesId], [FelhasznaloId], [Szoveg], [Datum], [Jovahagyva], [Elfogadott], [Szavazat]) VALUES (1, 3, 1, N'Kérdés3 - Válasz1', CAST(N'2026-04-09T08:59:36.697' AS DateTime), 1, 0, 0)
INSERT [dbo].[Valaszok] ([Id], [KerdesId], [FelhasznaloId], [Szoveg], [Datum], [Jovahagyva], [Elfogadott], [Szavazat]) VALUES (2, 3, 1, N'Kérdés3 - Válasz2', CAST(N'2026-04-09T08:59:45.130' AS DateTime), 1, 0, -1)
INSERT [dbo].[Valaszok] ([Id], [KerdesId], [FelhasznaloId], [Szoveg], [Datum], [Jovahagyva], [Elfogadott], [Szavazat]) VALUES (3, 1, 5, N'Kerdes1 válasz1', CAST(N'2026-04-09T20:10:02.203' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Valaszok] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cimkek__C7D0355D052ED0C1]    Script Date: 2026. 04. 11. 22:11:01 ******/
ALTER TABLE [dbo].[Cimkek] ADD UNIQUE NONCLUSTERED 
(
	[Nev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cimkek_Nev]    Script Date: 2026. 04. 11. 22:11:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cimkek_Nev] ON [dbo].[Cimkek]
(
	[Nev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Felhaszn__A9D10534A5C8EF8F]    Script Date: 2026. 04. 11. 22:11:01 ******/
ALTER TABLE [dbo].[Felhasznalok] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Szavazatok_FelhasznaloId_KerdesId]    Script Date: 2026. 04. 11. 22:11:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Szavazatok_FelhasznaloId_KerdesId] ON [dbo].[Szavazatok]
(
	[FelhasznaloId] ASC,
	[KerdesId] ASC
)
WHERE ([KerdesId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Szavazatok_FelhasznaloId_ValaszId]    Script Date: 2026. 04. 11. 22:11:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Szavazatok_FelhasznaloId_ValaszId] ON [dbo].[Szavazatok]
(
	[FelhasznaloId] ASC,
	[ValaszId] ASC
)
WHERE ([ValaszId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Felhasznalok] ADD  DEFAULT ('Felhasznalo') FOR [Szerepkor]
GO
ALTER TABLE [dbo].[Felhasznalok] ADD  DEFAULT (getdate()) FOR [RegisztracioDatuma]
GO
ALTER TABLE [dbo].[Felhasznalok] ADD  DEFAULT ((0)) FOR [ModeratorJovahagyva]
GO
ALTER TABLE [dbo].[Felhasznalok] ADD  DEFAULT ((0)) FOR [ModeratorElutasitva]
GO
ALTER TABLE [dbo].[Kerdesek] ADD  DEFAULT (getdate()) FOR [Datum]
GO
ALTER TABLE [dbo].[Kerdesek] ADD  DEFAULT ((0)) FOR [Jovahagyva]
GO
ALTER TABLE [dbo].[Kerdesek] ADD  DEFAULT ((0)) FOR [Szavazat]
GO
ALTER TABLE [dbo].[Valaszok] ADD  DEFAULT (getdate()) FOR [Datum]
GO
ALTER TABLE [dbo].[Valaszok] ADD  DEFAULT ((0)) FOR [Jovahagyva]
GO
ALTER TABLE [dbo].[Valaszok] ADD  DEFAULT ((0)) FOR [Elfogadott]
GO
ALTER TABLE [dbo].[Valaszok] ADD  DEFAULT ((0)) FOR [Szavazat]
GO
ALTER TABLE [dbo].[KerdesCimkek]  WITH CHECK ADD FOREIGN KEY([CimkeId])
REFERENCES [dbo].[Cimkek] ([Id])
GO
ALTER TABLE [dbo].[KerdesCimkek]  WITH CHECK ADD FOREIGN KEY([KerdesId])
REFERENCES [dbo].[Kerdesek] ([Id])
GO
ALTER TABLE [dbo].[Kerdesek]  WITH CHECK ADD FOREIGN KEY([FelhasznaloId])
REFERENCES [dbo].[Felhasznalok] ([Id])
GO
ALTER TABLE [dbo].[Kerdesek]  WITH CHECK ADD FOREIGN KEY([TemakorId])
REFERENCES [dbo].[Temakorok] ([Id])
GO
ALTER TABLE [dbo].[Szavazatok]  WITH CHECK ADD FOREIGN KEY([FelhasznaloId])
REFERENCES [dbo].[Felhasznalok] ([Id])
GO
ALTER TABLE [dbo].[Szavazatok]  WITH CHECK ADD FOREIGN KEY([KerdesId])
REFERENCES [dbo].[Kerdesek] ([Id])
GO
ALTER TABLE [dbo].[Szavazatok]  WITH CHECK ADD FOREIGN KEY([ValaszId])
REFERENCES [dbo].[Valaszok] ([Id])
GO
ALTER TABLE [dbo].[Valaszok]  WITH CHECK ADD FOREIGN KEY([FelhasznaloId])
REFERENCES [dbo].[Felhasznalok] ([Id])
GO
ALTER TABLE [dbo].[Valaszok]  WITH CHECK ADD FOREIGN KEY([KerdesId])
REFERENCES [dbo].[Kerdesek] ([Id])
GO
ALTER TABLE [dbo].[Szavazatok]  WITH CHECK ADD CHECK  (([Ertek]=(-1) OR [Ertek]=(1)))
GO
USE [master]
GO
